//main colors
$mainBlack: rgb(13, 13, 13);
$mainYellow:rgb(255, 221, 0);

$main_Dark_blue:rgb(34, 79, 133);
$main_Blue:rgb(55, 142, 201);
$main_v_light_blue:rgba(117, 163, 191, 0.30);
//font weight
$thin:100;
$Light:300;
$Medium:500;
$Bold:700;

//main font
$mainFont:'Roboto',
sans-serif;

//admin navigation width
$adminNavWidth:200px;
//admin title user
$adminUserTitleHeight:50px;